<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Robots" content="noindex">
  <title>GRR Installation</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/fontawesome-free/css/all.min.css">

  {% block css %}{% endblock %}
  
  <link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/dist/css/adminlte.min.css">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="../img_grr/totem_grr.png" alt="GRR-Logo" height="146" width="95">
  </div>


  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item">
        <a class="nav-link" href="../index.php">
         Retour
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  
  

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="admin.php?p=admin_accueil" class="brand-link">
      <span class="brand-text font-weight-light">GRR - Installation</span>
    </a>
    <section class="sidebar">
	 <nav class="mt-2">
     <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

  		<li {% if d.etape == 0 %}class="active"{% endif %}>
        <a href="#">
          {% if d.etape == 0 %}<i class="fas fa-arrow-right"></i>{% elseif d.etape > 0 %}<font color="green"><i class="fas fa-check-circle"></i></font>{% else %}<i class="fas fa-check-circle"></i>{% endif %}
          <span>Prérequis</span> <span class="pull-right-container"></span>
        </a>
      </li>
      <li {% if d.etape == 1 %}class="active"{% endif %}>
        <a href="#">
          {% if d.etape == 1 %}<i class="fas fa-arrow-right"></i>{% elseif d.etape > 1 %}<font color="green"><i class="fas fa-check-circle"></i></font>{% else %}<i class="fas fa-check-circle"></i>{% endif %}
          <span>Etape 1</span> <span class="pull-right-container"></span>
        </a>
      </li>
      <li {% if d.etape == 2 %}class="active"{% endif %}>
        <a href="#">
          {% if d.etape == 2 %}<i class="fas fa-arrow-right"></i>{% elseif d.etape > 2 %}<font color="green"><i class="fas fa-check-circle"></i></font>{% else %}<i class="fas fa-check-circle"></i>{% endif %}
          <span>Etape 2</span> <span class="pull-right-container"></span>
        </a>
      </li>
      <li {% if d.etape == 3 %}class="active"{% endif %}>
        <a href="#">
          {% if d.etape == 3 %}<i class="fas fa-arrow-right"></i>{% elseif d.etape > 3 %}<font color="green"><i class="fas fa-check-circle"></i></font>{% else %}<i class="fas fa-check-circle"></i>{% endif %}
          <span>Etape 3</span> <span class="pull-right-container"></span>
        </a>
      </li>
      <li {% if d.etape == 4 %}class="active"{% endif %}>
        <a href="#">
          {% if d.etape == 4 %}<i class="fas fa-arrow-right"></i>{% elseif d.etape > 4 %}<font color="green"><i class="fas fa-check-circle"></i></font>{% else %}<i class="fas fa-check-circle"></i>{% endif %}
          <span>Etape 4</span> <span class="pull-right-container"></span>
        </a>
      </li>
      <li {% if d.etape == 5 %}class="active"{% endif %}>
        <a href="#">
          {% if d.etape == 5 %}<i class="fas fa-arrow-right"></i>{% elseif d.etape > 5 %}<font color="green"><i class="fas fa-check-circle"></i></font>{% else %}<i class="fas fa-check-circle"></i>{% endif %}
          <span>Etape 5</span> <span class="pull-right-container"></span>
        </a>
      </li>

      </ul>
	  </nav>
    </section>
  </aside>
 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{ trad.TitrePage }}
        <small>{{ trad.SousTitrePage }}</small>
      </h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
 


    <section class="content">
	<div class="container-fluid h-100">

		{% block content %}{% endblock %}

  </div>
    </section>
  </div>


  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>GRR : Gestion et de Réservations de Ressources - <a href="https://devome.com/">DEVOME</a> - <b>{{ trad.grr_version }}</b> {{ settings.version }}</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Raccourcis</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="?p=admin_user_modify">
              <i class="menu-icon fa fa-user-plus bg-green"></i>
              <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ trad.display_add_user }}</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="?p=admin_view_connexions">
              <i class="menu-icon fa fa-list-alt bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ trad.admin_view_connexions }}</h4>
                <p>Logs</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

 
 <!-- jQuery -->
<script src="../vendor/almasaeed2010/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="../vendor/almasaeed2010/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/almasaeed2010/adminlte/dist/js/adminlte.js"></script>


{% block javascript %}{% endblock %}
</body>
</html>