{% macro messageAlerte(titre, message) %}
	<div class="alert alert-warning  alert-dismissible">
		<h4><i class="icon fa fa-warning"></i> {{ titre }}</h4>
		{{ message }}
	</div>
{% endmacro %}

{% macro messageInfo(titre, message) %}
	<div class="alert alert-info  alert-dismissible">
		<h4><i class="icon fa fa-info"></i> {{ titre }}</h4>
		{{ message |raw }}
	</div>
{% endmacro %}

{% macro messageDanger(titre, message) %}
	<div class="alert alert-danger  alert-dismissible">
		<h4><i class="icon fa fa-danger"></i> {{ titre }}</h4>
		{{ message }}
	</div>
{% endmacro %}

{% macro messageSuccess(titre, message) %}
	<div class="alert alert-success  alert-dismissible">
		<h4><i class="icon fa fa-check"></i> {{ titre }}</h4>
		{{ message }}
	</div>
{% endmacro %}