{% macro input(name, label, value = null, options = []) %}
	<div class="form-group {{ options.classGroup }}">
		<label class="{{ options.classLabel }}" for="{{ name }}">{{ label }} {% if options.require == 1 %}*{% endif %}</label>
		<div class="{{ options.classInput }}">
			<input class="form-control" type="{{ options.type ?: 'text' }}" id="{{ name }}" name="{{ name }}" value="{{ value }}" {% if options.require == 1 %}required{% endif %} {% if options.disabled == 1 %}disabled{% endif %}>
		</div>
	</div>
{% endmacro %}

{% macro textarea(name, label, value = null, options = []) %}
	<div class="form-group {{ options.classGroup }}">
		<label class="{{ options.classLabel }}" for="{{ name }}">{{ label }}</label>
		<div class="{{ options.classInput }}">
			<textarea class="form-control" type="text" id="{{ name }}" name="{{ name }}" value="">{{ value }}</textarea>
		</div>
	</div>
{% endmacro %}

{% macro colorpicker2(name, label, value = null, options = []) %}
	<div class="form-group {{ options.classGroup }}">
		<label class="{{ options.classLabel }}" for="{{ name }}">{{ label }}</label>
		<div class="input-group my-colorpicker2 {{ options.classInput }}">
			<input type="text" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value }}">
			<div class="input-group-addon"><i></i></div>
		</div>
	</div>
{% endmacro %}
