{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
{% endblock %}

{% block content %}

<div>

	<p>{{ trad.see_connexions_explain }}</p>

	<table class="table-bordered">
		<thead>
			<th class="col">{{ trad.begining_of_session }}</th>
			<th class="col">{{ trad.end_of_session }}</th>
			<th class="col">{{ trad.ip_adress }}</th>
			<th class="col">{{ trad.navigator }}</th>
			<th class="col">{{ trad.referer }}</th>
		</thead>
		<tbody>
		{% for connexion in connexions %}
			<tr>
				<td class="col"><span style="color:{{connexion.couleur}};">{{ connexion.debut }}</span></td>
				<td class="col"><span style="color:{{connexion.couleur}};">{{ connexion.fin }}</span></td>
				{% if settings.ActiveModeDemo == 'y' %}
					<td class="col"><span style="color:{{connexion.couleur}};">{{ trad.demo_info_cache }}</span></td>
					<td class="col"><span style="color:{{connexion.couleur}};">{{ trad.demo_info_cache }}</span></td>
					<td class="col"><span style="color:{{connexion.couleur}};">{{ trad.demo_info_cache }}</span></td>
				{% else %}
					<td class="col"><span style="color:{{connexion.couleur}};">{{ connexion.ip }}</span></td>
					<td class="col"><span style="color:{{connexion.couleur}};">{{ connexion.navigateur }}</span></td>
					<td class="col"><span style="color:{{connexion.couleur}};">{{ connexion.provenance }}</span></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>


</div>

{% endblock %}

{% block javascript %}
{% endblock %}