<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Robots" content="noindex" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../{{ sheetcss }}/style.css" />
    <link rel="stylesheet" type="text/css" href="../{{ sheetcss }}/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../{{ sheetcss }}/mod_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../include/admin_grr.css" />
    <link rel="stylesheet" type="text/css" href="../themes/default/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="../themes/default/css/select2-bootstrap.css" />
    {% if pview %}
        <link rel="stylesheet" type="text/css" href="../themes/print/css/style.css" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../themes/default/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="../themes/default/css/jquery-ui-timepicker-addon.css" >
    <link rel="stylesheet" type="text/css" href="../themes/default/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="../themes/default/css/bootstrap-clockpicker.min.css">
    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.validate.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap-clockpicker.js"></script>
    <script type="text/javascript" src="../js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="../js/html2canvas.js"></script>
    <script type="text/javascript" src="../js/menu.js"></script>
    <script type="text/javascript" src="../js/jspdf.min.js"></script>
    <script type="text/javascript" src="../js/pdf.js" ></script>
    <script type="text/javascript" src="../js/popup.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/functions.js" ></script>
    <script type="text/javascript" src="../js/select2.js"></script>
    <script type="text/javascript" src="../js/select2_locale_fr.js"></script>
    {% if use_tooltip_js %}
        <script type="text/javascript" src="src/Main/Resources/public/js/tooltip.js"></script>
    {% endif %}
    {% if selection %}
        <script type="text/javascript" src="src/Main/Resources/public/js/selection.js" ></script>
    {% endif %}
    {% if clock_file %}
        <script type="text/javascript" src="src/Main/Resources/public/js/{{ clock_file }}"></script>
    {% endif %}
    {% if notPhp3 != null %}
        {{ notPhp3 }}
    {% endif %}

</head>
<body>

