{% if pview %}
    {% set classImage = "print_image" %}
{% else %}
    {% set classImage = "image" %}
{% endif %}
{% if room == false %}
    <h1>{{ vocab.no_room_for_area}}</h1>
{% else %}
    <div class="row">
{% endif %} {# fin du else :  if room == false #}

        {% if pview %}
            <div class="col-lg-9 col-md-12 col-xs-12">
                <div id="print_planning">
        {% else %}
                <div id="planning">
        {% endif %}
        {% if printButton %}
            {{ include('helpers/printButton.html.twig', printButton) }}
        {% endif %}
        {% if tplArrayMenuGauche %}
            {# include de template du menu gauche #}
            {{ include('menuGauche.html.twig', tplArrayMenuGauche) }}
        {% endif %}

                    <div id="chargement">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="titre_planning {% if vacance %}vacance{% endif %} {% if ferie %}ferie{% endif %} col-lg-9 ">
                        {% if pview == false %}
                            <table class="table-header">
                                <tr>
                                    <td class="left">
                                        <button class="btn btn-default btn-xs" onclick="charger();javascript: location.href='{{ linkBefore }}';">
                                            <span class="glyphicon glyphicon-backward"></span>{{ vocab.daybefore }}
                                            </button>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="right">
                                        <button class="btn btn-default btn-xs" onclick="charger();javascript: location.href='{{ linkAfter }}';">
                                        {{ vocab.dayafter }}  <span class="glyphicon glyphicon-forward"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                        <h4 class="titre">
                            <span class="text-capitalize">{{ this_area_name }}</span>
                            {{ vocab.all_areas }}
                            {% if jourCycleInt != false %}
                                {% if jourCycleInt > 0 %}
                                 - {{ vocab.rep_type_6 }} {{ jourCycle }}
                                {% else %}
                                 - {{ jourCycle }}
                                {% endif %}
                            {% endif %}
                            <br><span class="text-capitalize">{{ time }}</span>
                        </h4>
                    </div>
                    {% if afficheLienPrecedant %}
                        <span id="lienPrecedent"><button class="btn btn-default btn-xs" onclick="charger();javascript:history.back();">Précedent</button></span>
                    {% endif %}
                    <div class="contenu_planning col-lg-9 ">
                        <table class="table-bordered table-striped">
                            <tr>
                                <th style="width:5%;">{{ timeOuPeriod }}</th>
                                {% for room in rooms %}
                                    {# gérer le col-lg-xx en fonction du nombre de résultats ? actuellement géré en % #}
                                    <th style="width:{{ 90/rooms|length }}" {% if room.status %}class="avertissement"{% endif %}>
                                        <a id="afficherBoutonSelection{{ loop.index }}" class="lienPlanning" href="#" onclick="afficherMoisSemaine({{ loop.index }})" style="display:inline;">{{ room.name }}</a>
                                        <a id="cacherBoutonSelection{{ loop.index }}" class="lienPlanning" href="#" onclick="cacherMoisSemaine({{ loop.index }})" style="display:none;">{{ room.name }}</a>
                                        {% if room.description != '' %}
                                            {{ room.description }}
                                        {% endif %}
                                        {% if room.capacity and pView == false %}
                                                <br /><span class="small">{{ room.capacity }}{% if room.capacity > 1 %}{{ vocab.number_max }}{% else %}{{ vocab.number_max2 }}{% endif %}</span><br />
                                        {% endif %}
                                        {% if room.status == 0 %}
                                            <br /><span class="texte_ress_tempo_indispo">{{ vocab.ressource_temporairement_indisponible }}</span><br />
                                        {% endif %}
                                        {% if room.moderate %}
                                            <br /><span class="texte_ress_moderee">{{ vocab.reservations_moderees }}</span><br />
                                        {% endif %}
                                        {# si l'utilisateur à le droit de voir la fiche ressources #}
                                        {% if room.displayFicheRessourceOk %}
                                            <a href="javascript:centrerpopup('view_room.php?id_room={{ room.id }}',600,480,'scrollbars=yes,statusbar=no,resizable=yes')" title="{{ vocab.fiche_ressource }}" >
                                            <span class="glyphcolor glyphicon glyphicon-search"></span></a>
                                        {% endif %}
                                        {# si l'utilisateur est admin de cette room #}
                                        {% if room.userLevel > 2 and pview == false %}
                                            <a href="admin/admin_edit_room.php?room={{ room.id }}"><span class="glyphcolor glyphicon glyphicon-cog"></span></a><br/>
                                        {% endif %}
                                        {% if room.afficheRessourceEmprunte != 'yes' and room.afficheRessourceEmprunte is iterable %}
                                            {{ include('helpers/ressourceEmpruntee.html.twig', room.afficheRessourceEmprunte) }}
                                        {% endif %}
                                        <span id="boutonSelection{{ loop.index }}" style="display:none;">
                                            <input type="button" class="btn btn-default btn-xs" title="{{ vocab.see_week_for_this_room }}" onclick="charger();javascript: location.href='{{ room.linkToSeeWeek }}';" value="{{ vocab.week }}"/>
                                            <input type="button" class="btn btn-default btn-xs" title="{{ vocab.see_month_for_this_room }}" onclick="charger();javascript: location.href='{{ room.linkToSeeMonth }}'" value="{{ vocab.month }}"/>
                                        </span>
                                    </th>
                                {% endfor %}
                            <tr>
                                <th style="width:5%;">
                            </tr>
                            <tr>
                            {% for creneauHoraire in creneauxHoraire %}
                                {% if loop.index is even %}
                                    <td class="cell_hours">
                                {% else %}
                                    <td class="cell_hours2">
                                {% endif %}
                                        {{ creneauHoraire.periodeNameOrHeure }}
                                    </td>
                                {% if creneauHoraire.notHorsReservationStep != false %}
                                    {# remplace le tdCellRowspan #}
                                    <td rowspan="{{ notHorsReservationStep }}"
                                        {% if creneauHoraire.class != false %}class="{{ creneauHoraire.class }}"{% endif %}
                                        {% if creneauHoraire.color != false %}style="background-color: {{ creneauHoraire.color }}"{% endif %} >
                                {% else %}
                                    <td {% if creneauHoraire.class != false %}class="{{ creneauHoraire.class }}"{% endif %}
                                        {% if creneauHoraire.color != false %}style="background-color: {{ creneauHoraire.color }}"{% endif %} >
                                {% endif %}
                                {% if creneauHoraire.estHorsReservation == true and creneauHoraire.estHorsReservation != 'empty' %}
                                    <img src="img_grr/stop.png" alt="{{ vocab.reservation_impossible }}"  title="{{ vocab.reservation_impossible }}" width="16" height="16" class="{{ classImage }}" />
                                {% elseif creneauHoraire.estHorsReservation == false and creneauHoraire.estHorsReservation != 'empty' %}
                                    <a href="{{ creneauHoraire.linkToResa }}" title="{{ vocab.cliquez_pour_effectuer_une_reservation }}" ><span class="glyphicon glyphicon-plus"></span></a>
                                {% endif %}
                                {% if roomIdSet == true %}
                                    {% if creneauHoraire.descRoomEmpruntee %}
                                        <img src="img_grr/buzy.png" alt="{{ vocab.ressource_actuellement_empruntee }}" title="{{ vocab.ressource_actuellement_empruntee }}" width="20" height="20" class="image" />
                                    {% endif %}
                                    {% if creneauHoraire.descRoomResaPlusTard %}
                                        <img src="img_grr/small_flag.png" alt="{{ vocab.reservation_a_confirmer_au_plus_tard_le }}" title="{{ vocab.reservation_a_confirmer_au_plus_tard_le }} {{ creneauHoraire.descRoomResaPlusTardDate }}" width="20" height="20" class="image" />
                                    {% endif %}
                                    {% if creneauHoraire.descRoomResaModeration %}
                                        <img src="img_grr/flag_moderation.png" alt="{{ vocab.en_attente_moderation }}" title="{{ vocab.en_attente_moderation }}" class="image" />
                                    {% endif %}
                                    {% if creneauHoraire.descRoomAccessRoom %}
                                        {% if creneauHoraire.descRoomAccessRoomAndFicheResa %}
                                            {% if creneauHoraire.descRoomAccessRoomAndFicheResaDisplay == 'levelViewEntry' %}
                                                <a title="{{ creneauHoraire.descRoomAccessRoomAndFicheResaWho }}" data-width="675" onclick="{{ creneauHoraire.descRoomAccessRoomAndFicheResaLink }}" data-rel="popup_name" class="poplight">
                                                    {{ creneauHoraire.descRoomAccessRoomText }}
                                            {% else %}
                                                <a class="lienCellule" title="{{ creneauHoraire.descRoomAccessRoomAndFicheResaWho }}" href="{{ creneauHoraire.descRoomAccessRoomAndFicheResaLink }}">
                                                    {{ creneauHoraire.descRoomAccessRoomText }}
                                            {% endif %}
                                        {% else %}
                                            {{ creneauHoraire.descRoomAccessRoomText }}
                                        {% endif %}
                                        {# boucle for pour les entry #}
                                        {% for entry in creneauHoraire.entries %}
                                            {% if period %}
                                                <br />
                                                {{ entry.startTime }} {{ vocab.to }} {{ entry.endTime }}
                                                <br />
                                            {% endif %}
                                            {% if entry.typeName != -1 %}
                                                {{ entry.typeName }}
                                            {% endif %}
                                            <br />
                                            {% if entry.clef == 1 %}
                                                <img src="img_grr/skey.png" alt="clef">
                                            {% endif %}
                                            {% if entry.showCourrier %}
                                                {% if entry.courrier == 1 %}
                                                    <img src="img_grr/scourrier.png" alt="courrier">
                                                {% else %}
                                                    <img src="img_grr/hourglass.png" alt="buzy">
                                                {% endif %}
                                                {% if entry.todayDesc != false %}
                                                   {{ entry.todayDesc }}
                                                {% endif %}
                                            {% endif %}

                                        {% endfor %}
                                    {% else %}
                                        {{  creneauHoraire.descRoomAccessRoomText }}
                                    {% endif %}
                                    {% if creneauHoraire.descRoomAccessRoomAndFicheResa %}
                                        </a>
                                    {% endif %}
                                    </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </table>
                        {% if pview != true %}
                            <div id="toTop">
                                <b>{{ vocab.top_of_page }}</b>
                                <script type="text/javascript">
                                $(function(){
                                    $(window).scroll(function(){
                                        if ($(this).scrollTop() != 0)$("#toTop").fadeIn();
                                        else $("#toTop").fadeOut();
                                    });
                                    $("#toTop").click(function(){
                                        $("body,html").animate({scrollTop:0},800);
                                    });
                                });
                                </script>
                            </div>
                        {% endif %}
                        </div>
                </div>
                    {% if popupMessageRecords != false %}
                        {{ include('helpers/alert.html.twig', { 'message' : popupMessageRecords }) }}
                    {% endif %}
                </div>
               </div>
        <div id="popup_name" class="popup_block"></div>
    </div>
</div>

                    <script type="text/javascript">
	$(document).ready(function(){
		$('table.table-bordered td').each(function(){
			var $row = $(this);
			var height = $row.height();
			var h2 = $row.find('a').height();
			$row.find('a').css('height', height);
			$row.find('a').css('padding-top', height/2 - h2/2);

		});
	});
	jQuery(document).ready(function($){
		$("#popup_name").draggable({containment: "#container"});
		$("#popup_name").resizable();
	});

</script>
{# include footer #}
{{ include('footer.html.twig') }}
</body>
</html>