<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">

            {% for key, monthDetail in returnCalHtml['month'] %}
                <div class="col-md-5">
                    <table class="table-condensed calendar">
                        {# ligne des jours de la semaine #}
                        <tr>
                            <td class="cellcalendar">&nbsp;</td>
                            {% for firstDay in monthDetail.firstDays %}
                                <td>{{ firstDay }}</td>
                            {% endfor %}
                        </tr>
                        {% for key2, day in monthDetail.daysOfTheMonth.dayInMonth %}
                            <tr>
                                <td class="calendarcol1 lienSemaine">
                                    <a class="week" href="{{ day.linkToWeekArea }}">s{{ day.textToWeekArea }} </a>
                                </td>
                                {% for number in day.numbers %}
                                    {% for keyDay, dayDetail in number  %}
                                        {% if dayDetail[loop.index0].current %}
                                            {% set class = "cellcalendar " %}
                                        {% else %}
                                            {% set class = "cal_current_day" %}
                                        {% endif %}
                                        <td class="{{ class }}">

                                            {% if dayDetail[loop.index0].link %}

                                                <a href="{{ dayDetail[loop.index0].link }}">
                                                    {{ keyDay }}
                                                </a>

                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    {% if menuGaucheMonthAll2 %}
    <div id="menuGaucheMonthAll2">
    {% else %}
        <div class="col-lg-3 col-md-12 col-xs-12">
    {% endif %}
            <div id="menuGauche">
                {% if siteSelection %}
                    {{ include('forms/siteFields.html.twig', siteSelection) }}
                {% endif %}
                {{ include('forms/areaFields.html.twig', areaSelection) }}
                {{ include('forms/roomFields.html.twig', roomSelection) }}
            </div>
        </div>
