{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-clockpicker.min.css?v={{d.versionGRR}}">
{% endblock %}

{% block content %}

<div id="page-resa" class="col col-lg-12 col-md-12 col-xs-12">
	<div class="container">

		{% if d.msgErreur %}
			<br>{{ msgSyst.messageDanger("", d.msgErreur) }}
		{% endif %}
		{% if d.msgOk %}
			<br>{{ msgSyst.messageSuccess("", d.msgOk) }}
		{% endif %}

		<h2>{{d.titre}}</h2>

		<form id="main" method="get" action="?p=editentree">
			<input type="hidden" name="oldRessource" value="{{d.roomid}}">
			<input type="hidden" name="rep_id"    value="{{d.rep_id}}" />
			<input type="hidden" name="edit_type" value="{{d.edit_type}}" />
			<input type="hidden" name="page" value="{{d.page}}" />
			<input type="hidden" name="room_back" value="{{d.room_back}}" />
			<input type="hidden" name="page_ret" value="{{d.ret_page}}" />
			<input type="hidden" name="create_by" value="{{d.create_by}}" />
			<input type="hidden" name="type_affichage_reser" value="{{d.type_affichage_reser}}" />
			{% if d.idresa != 0 and d.copier != 1 %}
				<input type="hidden" name="id" value="{{ d.idresa }}" />
			{% endif %}
			<div id="error"></div>
			

			<div class="row2">
				<!-- Colonne de Gauche : Données de la réservation -->
				<div class="col col-sm-6 col-xs-12">

					<table>
						<div id="div_beneficiaire"></div>
						<tr>
							<td class="E"><b>{{ trad.namebooker }}{% if settings.remplissage_description_breve != 0 %} *{% endif %}{{ trad.deux_points }}</b></td>
						</tr>
						<tr>
							<td class="CL">
								<input id="name" class="pleine form-control" name="name" maxlength="80" size="60" value="{{d.resaBreveDescription}}" />
							</td>
						</tr>

						{% if settings.remplissage_description_complete != 2 %}
							<tr>
								<td class="E"><b>{{ trad.fulldescription }}{% if settings.remplissage_description_complete == 1 %} *{% endif %}{{ trad.deux_points }}</b></td>
							</tr>
							<tr>
								<td class="TL"><textarea name="description" class="pleine form-control" rows="4" columns="60" >{{d.resaDescription}}</textarea></td>
							</tr>
						{% endif %}

						<tr>
							<td><div id="div_champs_add"></div></td>
						</tr>

						{% if d.active_participant > 0 %}
							<tr>
								<td class="E">
									<br><b>{{trad.nb_participant_max}}{{trad.deux_points}}</b>
									<input name="nbparticipantmax" type="number" value="{{d.nbparticipantmax}}" > {{trad.nb_participant_zero}}
								</td>
							</tr>
						{% endif %}

						{% if d.formCle == 1 %}
							<tr>
								<td class="CL"><br>
									<input name="keys" type="checkbox" value="y" {% if d.clef == 1 %}checked{% endif %}>
									<b>{{trad.msg_clef}}</b>
									<br><br>
								</td>
							</tr>
						{% endif %}

						{% if d.formCle == 1 %}
							<tr>
								<td class="CL"><br>
									<input name="courrier" type="checkbox" value="y" {% if d.courrier == 1 %}checked{% endif %}>
									<b>{{trad.msg_courrier}}</b>
									<br><br>
								</td>
							</tr>
						{% endif %}

						{% if d.formEmprunte == 1 %}
							<tr>
								<td class="CL"><br>
									<input name="statut_entry" type="checkbox" value="y" {% if d.statut_entry == "y" %}checked{% endif %}>
									<b>{{trad.signaler_reservation_en_cours}}</b>
									<br><br>
								</td>
							</tr>
						{% endif %}

					<!-- Section date & heure-->
						<!-- Date & Heure de début -->
						<tr>
							<td class="E"><b>{{trad.date}}{{trad.deux_points}}</b></td>
						</tr>

						<tr>
							<td class="CL">
								<div class="form-group">
									{{ d.jQuery_DatePickerTwigStart |raw }}
									<input type="hidden" disabled="disabled" id="mydate_start_">
									{% if d.enable_periods == 'y' %}
										<b>{{trad.period}}</b>

									{% else %}
										<b>{{trad.time}}</b>
										{{ d.jQuery_TimePickerStart |raw }}
									{% endif %}
								</div>
							</td>
						</tr>

						<!-- Durée -->
						{% if d.type_affichage_reser == 0 %}
							<tr>
								<td class="E">
									<b>{{trad.duration}}</b>
								</td>
							</tr>
							<tr>
								<td class="CL">
									<div>
										<input class="form-control" id="duree" name="duration" type="number" value="{{ d.duration }}" min="1">
										<select class="form-control" name="dur_units">
											{{d.option_unite_temps  |raw}}
										</select>
									</div>
									<b>
										<input name="all_day" type="checkbox" value="yes" /> {{trad.all_day}} 
										{% if d.enable_periods != 'y' %}
											( {{d.morningstarts}} H - {{d.af_fin_jour}} ) 
										{% endif %}
									</b>
								</td>
							</tr>
						<!-- Sinon date et heure de fin -->
						{% else %}
							<tr>
								<td class="E"><b>{{trad.fin_reservation}}{{trad.deux_points}}</b></td>
							</tr>
							<tr>
								<td class="CL" >
									<div class="form-group">
										{{d.jQuery_DatePickerTwigEnd |raw}}
										<input type="hidden" disabled="disabled" id="mydate_end_">

										{% if d.enable_periods == 'y' %}

											<b>{{trad.period}}</b>
											<select name="end_period">
												{{d.optionHeureFin |raw}}
											</select>
										
										{% else %}
											<b>{{trad.time}}</b>
											{{d.jQuery_TimePickerTwigEnd |raw}}


										{% endif %}
									</div>
								</td>
							</tr>
						{% endif %}

					<!-- Section ressources-->
						<tr {% if d.nb_domaines == 1 %}style="display:none"{% endif %}>
							<td class="E"><b>{{trad.match_area}} {{trad.deux_points}}</b></td>
						</tr>

						<tr {% if d.nb_domaines == 1 %}style="display:none"{% endif %}>
							<td class="CL" >
								<div class="col-xs-3">
									<select class="form-control" id="areas" name="areas" onchange="changeRooms(this.form);" >
										{{d.optionsDomaine |raw}}
									</select>
								</div>
							</td>
						</tr>

						<tr>
							<td class="E">
								<b>{{trad.rooms}} {{trad.deux_points}}</b>
							</td>
						</tr>

						<tr>
							<td class="CL" style="vertical-align:top;">
								<table border="0">
									<tr>
										<td>
											<select name="rooms[]" size="{{d.taille_champ_res}}" multiple="multiple" onchange="changeRoom(this.form) ;">
												{{d.optionsRessource |raw}}
											</select>
										</td>
										<td> {{trad.ctrl_click}}</td>
									</tr>
								</table>
							</td>
						</tr>

					<!-- Section type resa -->
						<tr>
							<td>
								<div id="div_types"></div>
							</td>
						</tr>
						
						<!-- -->
						<tr>
							<td class="E">{{trad.required}}</td>
						</tr>
					</table>

				</div>

				<!-- Colonne de droite : Périodicité -->
				<div class='col-sm-6 col-xs-12'>

				</div>

				<div id="fixe">
					<input type="button" class="btn btn-primary" value="{{ trad.cancel }}" onclick="window.location.href='{{ d.ret_page }}'" />
					<input type="button" class="btn btn-primary" value="{{ trad.save }}" onclick="Save_entry();validate_and_submit();" />
				</div>
			</div>
		 </form>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="js/bootstrap-clockpicker.js?v={{d.versionGRR}}"></script>
<script type="text/javascript" >

	$(function() {
		$.datepicker.setDefaults( $.datepicker.regional['fr'] );
 		$('#mydate_start_').datepicker({
			beforeShow: readSelected, onSelect: updateSelected,
			showOn: 'both', buttonImageOnly: true, buttonImage: 'img_grr/calendar.png',buttonText: "Choisir la date"});
			function readSelected()
			{
				$('#mydate_start_').val($('#start_day').val() + '/' +
				$('#start_month').val() + '/' + $('#start_year').val());
				return {};
			}
			function updateSelected(date)
			{
				$('#start_day').val(date.substring(0, 2));
				$('#start_month').val(date.substring(3, 5));
				$('#start_year').val(date.substring(6, 10));
			}
    });

	{% if d.type_affichage_reser != 0 %}
	$(function() {
		$.datepicker.setDefaults( $.datepicker.regional['fr'] );
 		$('#mydate_end_').datepicker({
			beforeShow: readSelected, onSelect: updateSelected,
			showOn: 'both', buttonImageOnly: true, buttonImage: 'img_grr/calendar.png',buttonText: "Choisir la date"});
			function readSelected()
			{
				$('#mydate_end_').val($('#end_day').val() + '/' +
				$('#end_month').val() + '/' + $('#end_year').val());
				return {};
			}
			function updateSelected(date)
			{
				$('#end_day').val(date.substring(0, 2));
				$('#end_month').val(date.substring(3, 5));
				$('#end_year').val(date.substring(6, 10));
			}
    });
	{% endif %}

	$('.clockpicker').clockpicker({
		align: 'left',
		placement: 'top',
		donetext: 'Valider'
	});

	document.getElementById('main').name.focus();
	{% if d.cookie %}
		check_4();
	{% endif %}
	{% if d.idresa != 0 and d.flag_periodicite %}
		clicMenu('1');
		check_5();
	{% endif %}
	{% if d.Err == yes %}
		timeoutID = window.setTimeout("Load_entry();check_5();",500);
	{% endif %}


	function validate_and_submit(){
		var err;

		$("#error").html("");
		if (document.forms["main"].benef_ext_nom)
		{
			if ((document.forms["main"].beneficiaire.options[0].selected) && (document.forms["main"].benef_ext_nom.value == ""))
			{
				$("#error").append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{trad.you_have_not_entered}}{{trad.deux_points}}lcfirst({{trad.nom_beneficiaire}})</div>');
				err = 1;
			}
		}

		{% if settings.remplissage_description_breve == 1 or settings.remplissage_description_breve == 2 %}
			if (document.forms["main"].name.value == "")
			{
				$("#error").append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{trad.you_have_not_entered}}{{trad.deux_points}}{{trad.brief_description}}</div>');
				err = 1;
			}
		{% endif %}

		{% if settings.remplissage_description_complete == 1 %}
		if (document.forms["main"].description.value == "")
			{
				$("#error").append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{trad.you_have_not_entered}}{{trad.deux_points}}{{trad.fulldescription}}</div>');
				err = 1;
			}
		{% endif %}



		if  (document.forms["main"].type.value=='0')
		{
			$("#error").append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{trad.choose_a_type}}</div>');
			err = 1;
		}

		{% if d.edit_type == "series" and settings.periodiciteConfig == "y" %}
			i1 = parseInt(document.forms["main"].id.value);
			i2 = parseInt(document.forms["main"].rep_id.value);
			n = parseInt(document.forms["main"].rep_num_weeks.value);
			if ((document.forms["main"].elements['rep_day[0]'].checked || document.forms["main"].elements['rep_day[1]'].checked || document.forms["main"].elements['rep_day[2]'].checked || document.forms["main"].elements['rep_day[3]'].checked || document.forms["main"].elements['rep_day[4]'].checked || document.forms["main"].elements['rep_day[5]'].checked || document.forms["main"].elements['rep_day[6]'].checked) && (!document.forms["main"].rep_type[2].checked))
			{
				$("#error").append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{trad.no_compatibility_with_repeat_type}}</div>');
				err = 1;
			}
			if ((!document.forms["main"].elements['rep_day[0]'].checked && !document.forms["main"].elements['rep_day[1]'].checked && !document.forms["main"].elements['rep_day[2]'].checked && !document.forms["main"].elements['rep_day[3]'].checked && !document.forms["main"].elements['rep_day[4]'].checked && !document.forms["main"].elements['rep_day[5]'].checked && !document.forms["main"].elements['rep_day[6]'].checked) && (document.forms["main"].rep_type[2].checked))
			{
				$("#error").append('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{trad.choose_a_day}}</div>');
				err = 1;
			}
		{% endif %}

		if (err == 1)
			return false;

		document.forms["main"].submit();

		return true;
	}


	function insertBeneficiaires(area_,room_,user_,id_){
		jQuery.ajax({
			type: 'GET',
			url: 'edit_entry_beneficiaire.php',
			data: {
				area: area_,
				room: room_,
				user: user_,
				id: id_
			},
			success: function(returnData)
			{
				$("#div_beneficiaire").html(returnData);
			},
			error: function(data)
			{
				alert('Erreur lors de l execution de la commande AJAX pour le edit_entry_beneficiaire.php ');
			}
		});
	}

	function insertChampsAdd(areas_,id_,room_){
		jQuery.ajax({
			type: 'GET',
			url: 'edit_entry_champs_add.php',
			data: {
				areas: areas_,
				id: id_,
				room: room_,
			},
			success: function(returnData)
			{
				$("#div_champs_add").html(returnData);
			},
			error: function(data)
			{
				alert('Erreur lors de l execution de la commande AJAX pour le edit_entry_champs_add.php ');
			}
		});
	}

	function changeRooms( formObj )
	{
		areasObj = eval( "formObj.areas" );
		area = areasObj[areasObj.selectedIndex].value
		roomsObj = eval( "formObj.elements['rooms[]']" )
		l = roomsObj.length;
		for (i = l; i > 0; i-- )
		{
			roomsObj.options[i] = null
		}
		switch (area)
		{		
			{{d.complementJSchangeRooms |raw}}
		}
		roomsObj = eval( "formObj.elements['rooms[]']" );
        room = roomsObj[roomsObj.selectedIndex].value;
		insertBeneficiaires(area,room,"{{d.beneficiaire}}",{{d.iderasa}});
        insertChampsAdd(area,{{d.idresa}},room);
        insertTypes(area,room);
	}

	function changeRoom( formObj)
    {	
        areasObj = eval( "formObj.areas" );
		area = areasObj[areasObj.selectedIndex].value
        roomsObj = eval("formObj.elements['rooms[]']");
        room = roomsObj[roomsObj.selectedIndex].value;       
    }

	function insertTypes(areas_,room_){
		jQuery.ajax({
			type: 'GET',
			url: 'edit_entry_types.php',
			data: {
				areas: areas_,
				type: '<?php echo $etype; ?>',
				room: room_,
			},
			success: function(returnData){
				$('#div_types').html(returnData);
			},
			error: function(data){
				alert('Erreur lors de l execution de la commande AJAX pour le edit_entry_types.php ');
			}
		});
	}

	function check_1(){
		menu = document.getElementById('menu2');
		if (menu)
		{
			if (!document.forms["main"].rep_type[2].checked)
			{
				document.forms["main"].elements['rep_day[0]'].checked=false;
				document.forms["main"].elements['rep_day[1]'].checked=false;
				document.forms["main"].elements['rep_day[2]'].checked=false;
				document.forms["main"].elements['rep_day[3]'].checked=false;
				document.forms["main"].elements['rep_day[4]'].checked=false;
				document.forms["main"].elements['rep_day[5]'].checked=false;
				document.forms["main"].elements['rep_day[6]'].checked=false;
				menu.style.display = "none";
			}
			else
			{
				menu.style.display = "";
			}
		}
		{% if settings.jours_cycles_actif == 'oui' %}
			menu = document.getElementById('menuP');
			if (menu)
			{
				if (!document.forms["main"].rep_type[5].checked)
				{
					menu.style.display = "none";
				}
				else
				{
					menu.style.display = "";
				}
			}
		{% endif %}
	}

	function check_2 (){
		document.forms["main"].rep_type[2].checked=true;
		check_1 ();
	}

	function check_3 (){
		document.forms["main"].rep_type[3].checked=true;
	}

	function check_4 (){
		menu = document.getElementById('menu4');
		if (menu)
		{
			if (!document.forms["main"].beneficiaire.options[0].selected)
			//if (document.forms["main"].beneficiaire.value != '')
			{
				menu.style.display = "none";
				{% if settings.remplissage_description_breve == 2 %}
				document.forms["main"].name.value=document.forms["main"].beneficiaire.options[document.forms["main"].beneficiaire.options.selectedIndex].text;
				// document.forms["main"].name.value=document.forms["main"].beneficiaire.value;
				{% endif %}
			}
			else
			{
				menu.style.display = "";
				{% if settings.remplissage_description_breve == 2 %}
					document.forms["main"].name.value="";
				{% endif %}
			}
		}
	}

	function check_5 (){
		var menu; var menup; var menu2;
		menu = document.getElementById('menu1');
		menup = document.getElementById('menuP');
		menu2 = document.getElementById('menu2');
		if ((menu)&&(menu.style.display == "none"))
		{
			menup.style.display = "none";
			menu2.style.display = "none";
		}
		else
			check_1();
	}

	function setdefault (name,input){
		document.cookie = escape(name) + "=" + escape(input) +
		( "" ? ";expires=" + ( new Date( ( new Date() ).getTime() + ( 1000 * lifeTime ) ) ).toGMTString() : "" ) +
		( "" ? ";path=" + path : "") +
		( "" ? ";domain=" + domain : "") +
		( "" ? ";secure" : "");
	}

	function Load_entry (){
		recoverInputs(document.forms["main"],retrieveCookie('Grr_entry'),true);
		{% if d.idera == 0 %}
			if (!document.forms["main"].rep_type[0].checked)
				clicMenu('1');
		{% endif %}
	}

	function Save_entry (){
		setCookie('Grr_entry',getFormString(document.forms["main"],true));
	}

	insertBeneficiaires({{d.domaine}},{{d.ressource}},"{{d.beneficiaire|raw}}",{{d.idresa}});
	insertChampsAdd({{d.domaine}},{{d.idresa}},{{d.ressource}});
	insertTypes({{d.domaine}},{{d.ressource}})

	$('#areas').on('change', function(){
		$('.multiselect').multiselect('destroy');
		$('.multiselect').multiselect();
	});
	$(document).ready(function() {
		$('.multiselect').multiselect();
		$("#select2").select2();
	});



</script>

{% endblock %}