<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Robots" content="noindex" />
		<title>GRR - {{ settings.company }}</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="./jslib/bootstrap/css/bootstrap.min.css?v={{d.versionCache}}" />
		<link rel="stylesheet" type="text/css" href="./themes/default/css/style.css?v={{d.versionCache}}" />
		<link rel="stylesheet" type="text/css" href="./{{ d.sheetcss }}?v={{d.versionCache}}" />
		<link rel="stylesheet" type="text/css" href="./jslib/fontawesome-free/css/all.min.css">
		{{ d.sheetcssperso|raw }}
		{% block css %}{% endblock %}
		{{ d.sheetcsspersocss|raw }}
	</head>

	<body>
		{% if d.pview != 1 %}
		<header>
			<div id="panel">
				<div class="logo" height="100">
					{% if d.logo != '' %}<a href="{{ d.pageAccueil|raw }}"><img src="{{ d.logo }}" alt="logo"></a>{% endif %}
				</div>
				<div class="accueil">
					<h2><a href="{{ d.pageAccueil|raw }}">{{ settings.company }}</a></h2>
					<p>{{ settings.message_accueil|raw }}</p>
				</div>
				{% if d.lienFormaulaireResa == 1 %}
				<div class="contactformulaire">
					<input class="btn btn-default" type="submit" rel="popup_name" value="{{ trad.reserver }}" onclick="javascript:location.href='app.php?p=contactresa{{ d.paramUrlAccueil |raw }}'">
				</div>
				{% endif %}
				<div class="administration">
				{% if d.lienDeconnexion %}
					{% if d.lienAdmin != ''%}<br><a href='./{{ d.lienAdmin|raw }}'>{{ trad.admin }}</a>{% endif %}
					{% if d.nbConnecte %}<br><a href="./admin/admin.php?p=admin_view_connexions">{{ d.nbConnecte }}</a>{% endif %}
					{% if d.mess_resa %}<br><p class='avertissement'><a href='?p=moderationsliste&area={{d.area}}' class='avertissement'>{{ d.mess_resa }}</a></p>{% endif %}
				{% endif %}
				</div>
				<div class="configuration" >
					{% if d.jsHeure %}
					<div class="clock">
						<div id="Date">
							&nbsp;<span id="hours"></span>h<span id="min"></span>
						</div>
					</div>
					{% endif %}
					<a onclick="charger();" href="{{ d.urlLangue }}?{{ d.paramUrl |raw }}&amp;default_language=fr-fr"><img src="./img_grr/fr_dp.png" alt="France" title="france" width="20" height="13" class="image" /></a>
					<a onclick="charger();" href="{{ d.urlLangue }}?{{ d.paramUrl |raw }}&amp;default_language=de-de"><img src="./img_grr/de_dp.png" alt="Deutch" title="deutch" width="20" height="13" class="image" /></a>
					<a onclick="charger();" href="{{ d.urlLangue }}?{{ d.paramUrl |raw }}&amp;default_language=en-gb"><img src="./img_grr/en_dp.png" alt="English" title="English" width="20" height="13" class="image" /></a>
					<a onclick="charger();" href="{{ d.urlLangue }}?{{ d.paramUrl |raw }}&amp;default_language=it-it"><img src="./img_grr/it_dp.png" alt="Italiano" title="Italiano" width="20" height="13" class="image" /></a>
					<a onclick="charger();" href="{{ d.urlLangue }}?{{ d.paramUrl |raw }}&amp;default_language=es-es"><img src="./img_grr/es_dp.png" alt="Spanish" title="Spanish" width="20" height="13" class="image" /></a>
					{% if d.lienDeconnexion %}<br /><a href="./compte/compte.php?pc=moncompte&amp;{{ d.paramUrl |raw }}">{{ d.nomUtilisateur }} - {{ trad.manage_my_account }}</a>{% endif %}
					{% if d.accesStats %}<br /><a href="./app.php?p=report">{{ trad.report }}</a>{% endif %}
					{{ d.liensPerso1|raw }}
					{{ d.lienDeconnexion|raw }}
					{{ d.lienConnexion|raw }}
				</div>
			</div>
			<a id="open" class="open" href="#"><i class="fa-solid fa-arrows-up-down"></i></a>
		</header>
		{% endif %}
		<section>
			{% block content %}{% endblock %}

			<div id="popup_name" class="popup_block"></div>
		</section>
		<script type="text/javascript" src="./jslib/jquery/jquery.min.js?v={{d.versionCache}}"></script>
		<script type="text/javascript" src="./jslib/jquery-ui/jquery-ui.min.js?v={{d.versionCache}}"></script>
    	<script type="text/javascript" src="./jslib/floatthead/jquery.floatThead.min.js?v={{d.versionCache}}"></script>
		<script type="text/javascript" src="./jslib/bootstrap/js/bootstrap.min.js?v={{d.versionCache}}"></script>
		<script type="text/javascript" src="./js/popup.js?v={{d.versionCache}}" charset="utf-8"></script>
		<script type="text/javascript" src="./js/functions.min.js?v={{d.versionCache}}" ></script>
		{% block javascript %}{% endblock %}
		{% if d.jsHeure %}
			<script type="text/javascript" src="./js/{{ d.jsHeure }}?v={{d.versionCache}}"></script>
		{% endif %}
		{% if d.gPopup %}
			{% set modePage = 1 %}
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function() {
					console.log('Appel request avec id=119, day={{ d.gDay }}, month={{ d.gMonth }}, year={{ d.gYear }}');
					request_popup(119, {{ d.gDay }}, {{ d.gMonth }}, {{ d.gYear }}, 0, 'jour', function(data) {
						console.log('Données reçues et affichage popup');
						readData(data);
						// Déclencher l'affichage de la popup jQuery
						var popID = 'popup_name';
						var popWidth = 675;
						jQuery('#' + popID).fadeIn().css({ 'width': popWidth});
						var popMargTop = (jQuery('#' + popID).height() + 80) / 2;
						var popMargLeft = (jQuery('#' + popID).width() + 80) / 2;
						jQuery('#' + popID).css({
							'margin-top' : -popMargTop,
							'margin-left' : -popMargLeft,
							'top' : '280px',
							'left' : '600px'
						});
						jQuery('body').append('<div id="fade"></div>');
						jQuery("body,html").animate({scrollTop:0},800);
					}); 
				});
			</script>
		{% endif %}
	</body>
</html>