{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}
{% import 'planning.twig' as planning %}

{% block css %}
{{d.cssTypeResa |raw}}
{% endblock %}

{% block content %}

<section>

<!-- ! MenuHG  -->
	{% if d.pview != 1 %}
		{{ planning.menuGauche(settings, trad, d.selecteursG, d.miniCalentrier, d.selectionDateDirecte, d.legende) }}
		{{ planning.menuHaut(settings, trad, d.selecteursH, d.miniCalentrier, d.selectionDateDirecte, d.legende) }}

		<div id='planning2'>
	{% else %}
		<div id="print_planning">
	{% endif %}

	<table class="semaine table-bordered table-striped">
		<caption>

			{% if d.pview != 1 %} <!-- liens mois avant-après et imprimante si page non imprimable -->
				<div class="ligne23">
					<div class="left">
						<button class="btn btn-default btn-xs" onclick="javascript: location.href='app.php?p=semaine_all&amp;year={{d.yy}}&amp;month={{d.ym}}&amp;area={{d.area}}';" ><span class="glyphicon glyphicon-backward"></span> {{trad.weekbefore}}</button>
					</div>

					{{ planning.imprimante(settings, d.paramUrl) }}

					<div class="right">
						<button class="btn btn-default btn-xs" onclick="javascript: location.href='app.php?p=semaine_all&amp;year={{d.ty}}&amp;month={{d.tm}}&amp;area={{d.area}}';">{{trad.weekafter}} <span class="glyphicon glyphicon-forward"></span></button>
					</div>
				</div>
			{% endif %}

			<div>
				{% if d.pview != 1 %} <!-- afficher ou cacher le menu si page non imprimable -->
					<div class="left">
						<div id="voir"><button class="btn btn-default btn-sm" onClick="afficheMenuHG({{d.positionMenu}})" title="{{trad.show_left_menu}}"><span class="glyphicon glyphicon-chevron-right"></span></button></div>
						<div id="cacher"><button class="btn btn-default btn-sm" onClick="afficheMenuHG(0)" title="{{trad.hide_left_menu}}"><span class="glyphicon glyphicon-chevron-left"></span></button></div> 
					</div>
				{% endif %}

				<h4 class="titre">
					{{d.nomDomaine}} - {{trad.all_areas}}<br>
					{{trad.week}}{{trad.deux_points}} {{d.semaineDebut}} - {{d.semaineFin}}
				</h4>

				{% if d.pview == 1 and d.precedent == 1 %}
					<span id="lienPrecedent">
						<button class="btn btn-default btn-xs" onclick="javascript:history.back();">Précedent</button>
					</span>
				{% endif %}
			</div>
		</caption>
		<thead>
			<tr>
                <th class="jour_sem">{{trad.rooms}}</th>
				{% for jour in joursSemaine %}
					<th class="jour_sem {{jour.class}}">
                        <a href="app.php?p=jour&amp;year={{jour.annee}}&amp;month={{jour.mois}}&amp;day={{jour.numJour}}&amp;area={{d.area}}">
                            {{jour.nomJour}}
                            {% if jour.nomCycle != "" %}<br>{{jour.nomCycle}}{% endif %}
                        </a>
                    </th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
            {% for ressource in ressourcesSemaine %}
            <tr>
                <!-- 1ere colonne avec le nom des ressources -->
                <td class="{{ressource.class}}">
                    <a href="app.php?p=semaine&amp;year={{d.gYear}}&amp;month={{d.gMonth}}&amp;day={{d.gDay}}&amp;area={{d.area}}&amp;room={{ressource.id}}" title="{{trad.see_week_for_this_room}}">
                        {{ressource.nom}}
                    </a>
                    <br>
                    {% if d.pview != 1 %}
                        {% if ressource.capacite %}
                            <span class="small">{{ressource.capacite}} {% if ressource.capacite > 1 %}{{trad.number_max2}}{% else %}{{trad.number_max}}{% endif %}</span><br>
                        {% endif %}

                        {% if ressource.fiche %}
                            <a href="javascript:centrerpopup('app.php?p=ressourcefiche&id_room={{ressource.id}},600,480,scrollbars=yes,statusbar=no,resizable=yes')" title="{{trad.fiche_ressource}}">
                                <span class="glyphcolor glyphicon glyphicon-search"></span>
                            </a>
                        {% endif %}

                        {% if ressource.config %}
                            <a href="./admin/admin.php?p=admin_edit_room&room={{ressource.id}}"><span class="glyphcolor glyphicon glyphicon-cog"></span></a>
                        {% endif %}

                    {% endif %}

                    {% if ressource.statut_room == 0 %}
                        <br><span class="texte_ress_tempo_indispo">{{trad.ressource_temporairement_indisponible}}</span>
                    {% endif %}
                </td>

                <!-- X colonnes suivantes avec les résa par jopurs -->
                {% for jourR in ressource.joursRessource %}
                    <td class="{{jourR.class}}">
                        {% for resa in jourR.reservations %}
                            <table class="pleine center">
                                <tr>
                                    <td class="type{{resa.class}}">

                                            {% if resa.lienFiche %}
                                                {% if settings.display_level_view_entry == 0 %}
                                                    <a title="{{resa.bulle}}" style="border-bottom:1px solid #FFF" data-width="675" onclick="request({{resa.idresa}},{{jourR.jour}},{{jourR.mois}},{{jourR.annee}},'all',semaine_all,readData);" data-rel="popup_name" class="poplight lienCellule">
                                                {% else %}
                                                    <a class="lienCellule" style="border-bottom:1px solid #FFF" title="{{resa.bulle}}" href="app.php?p=vuereservation&id={{resa.idresa}}&amp;day={{jourR.jour}}&amp;month={{jourR.mois}}&amp;year={{jourR.annee}}&amp;page=semaine_all">
                                                {% endif %}
                                            {% endif %}
                                            {{resa.texte|raw}}
                                            {% if resa.lienFiche %}
                                                </a>
                                            {% endif %}

                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                        {% if jourR.horsResa %}
                            <div class="empty_cell">
                                <span class="glyphicon glyphicon-remove" title="{{trad.reservation_impossible}}" style="color:red"></span>
                            </div>
                        {% elseif jourR.plageLibre %}
                        <div class="empty_cell">
                            <a href="edit_entry.php?room={{ressource.id}}&amp;page=semaine_all&amp;year={{jourR.annee}}&amp;month={{jourR.mois}}&amp;day={{jourR.jour}}&amp;
                            {% if d.usePeriode == "y" %}
                                period=&amp;
                            {% else %}
                                hour={{jourR.heure}}&amp;minute=0
                            {% endif %}"
                            title="{{trad.cliquez_pour_effectuer_une_reservation}}"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

		</tbody>


	</table>

		{% if d.pview != 1 %}
			<div id="toTop">
				<b>{{trad.top_of_page}}</b>
			</div>
		{% endif %}

	</div>
	<div id="popup_name" class="popup_block"></div>
</section>


{% endblock %}

{% block javascript %}
	{% if d.pview != 1 %}
		{{ planning.erreurMailAuto(settings, trad, d.sessionMessageErreur) }}
		{{ planning.boutonRetourHaut() }}
	{% endif %}
	{% if d.popupMessage %}
		{{ planning.popupMsg(settings, d.popupMessage, d.popupAffiche) }}
	{% endif %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#popup_name").draggable({containment: "#container"});
			$("#popup_name").resizable();
			afficheMenuHG('{{d.positionMenu}}');
			if ( $(window).scrollTop() == 0 )
				$("#toTop").hide(1);
		});
	</script>
{% endblock %}