{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
	<style>
        .theme-option {
            position: relative;
            cursor: pointer;
            transition: all 0.2s ease;
			width: 260px;
			padding: 10px;
        }

        .theme-option .card {
            border: 2px solid transparent;
            transition: all 0.2s ease;
            overflow: hidden;
        }

        .theme-option:hover .card {
            transform: translateY(-3px);
            box-shadow: 0 8px 18px rgba(0,0,0,0.15);
        }

        .theme-option img {
            height: 100%;
            object-fit: cover;
        }

        .theme-option input[type="radio"] {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 22px;
            height: 22px;
            z-index: 10;
            cursor: pointer;
        }

        .theme-option input[type="radio"]:checked + .card {
            border-color: #007bff;
            box-shadow: 0 0 0 3px rgba(0,123,255,.25);
        }

        .theme-title {
            font-weight: 600;
            font-size: 16px;
        }

        .theme-description {
            font-size: 14px;
            color: #6c757d;
        }
    </style>
{% endblock %}

{% block content %}
	<div class="row">
        <form enctype="multipart/form-data" action="?p=admin_page_connexion" method="post" class="col col-12">
			<input type="hidden" name="p" value="admin_page_connexion" />
			<input type="hidden" name="submit" value="1" />

			<div class="col col-12">

				<!-- Accès & droits -->
				<div class="card col-12">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-lock"></i> {{ trad.admin_config2 }}
						</h3>
					</div>
					<div class="card-body">
						<section id="desactiveconnexion">
							{{ form.switch('disable_login', trad.disable_login_on, settings.disable_login, {classGroup: 'col-12 custom-switch-on-danger', classLabel: 'col-10', classDivInput: 'col-2'}) }}
							<i>{{ trad.explain_disable_login }}</i>
						</section>
						<hr>
						<section id="ipautorise">
							{{ form.input('ip_autorise', trad.title_ip_autorise, settings.ip_autorise, {classGroup: 'col-12', classLabel: 'col-4', classDivInput: 'col-sm-8 control-label"', classInput: 'form-control is-warning'}) }}
							<i>{{ trad.explain_ip_autorise }}</i>
						</section>
						<hr>
						<section id="horaireconnexion">
							<div class="form-group row">
								{{ form.input('horaireconnexionde', trad.title_horaire_autorise, settings.horaireconnexionde, {row:0, classLabel: 'col-sm-3', classDivInput: 'col-sm-1 control-label', type: 'time'}) }}
								{{ form.input('horaireconnexiona', trad.through, settings.horaireconnexiona, {row:0, classLabel: 'col-sm-1', classDivInput: 'col-sm-1 control-label', type: 'time'}) }}
							</div>
							<i>{{ trad.explain_horaire_autorise }}</i>
						</section>
						<hr>
						<section id="dureesession">
							{{ form.input('sessionMaxLength', trad.session_max_length, settings.sessionMaxLength, {classGroup: 'col-sm-12', classLabel: 'col-sm-6', classDivInput: 'col-sm-6 control-label', type: 'number', min:1}) }}
							<i>{{ trad.explain_session_max_length }}</i>
						</section>
						<hr>
						<section id="urldeconnexion">
							{{ form.input('url_disconnect', trad.Url_de_deconnexion, settings.url_disconnect, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classDivInput: 'col-sm-8 control-label'}) }}
							<i>{{ trad.Url_de_deconnexion_explain }}</i>
							<p><i>{{ trad.Url_de_deconnexion_explain2 }}</i></p>
						</section>
					</div>
				</div>

				<!-- Apparence -->
				<div class="card col-12">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-brush"></i> {{ trad.admin_config6 }}
						</h3>
					</div>
					<div class="card-body">

						<div class="row">
							<label class="col col-12" for="login_template">Template de la page de connexion :</label>
							<!-- Template 1 -->
							<div>
								<label class="theme-option w-100">
									<input type="radio" name="login_template" value="1" {% if settings.login_template == 1 %}checked{% endif %}>
									<div class="card">
										<img src="../img_grr/templatelogin1.png" alt="Template 1">

										<div class="card-body">
											<div class="theme-title">
												1 - Centré
											</div>
											<div class="theme-description mt-2">
												Style historique de GRR, simple et épuré.
											</div>
										</div>
									</div>
								</label>
							</div>

							<!-- Template 2 -->
							<div>
								<label class="theme-option w-100">
									<input type="radio" name="login_template" value="2" {% if settings.login_template == 2 %}checked{% endif %}>
									<div class="card">
										<img src="../img_grr/templatelogin2.png" alt="Template 2">

										<div class="card-body">
											<div class="theme-title">
												2 - A droite
											</div>
											<div class="theme-description mt-2">
												Style moderne et professionnel.
											</div>
										</div>
									</div>
								</label>
							</div>
						</div>

						<section id="affichage_page_connexion">

							{{ form.input('title_home_page', trad.title_home_page, settings.title_home_page, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classDivInput: 'col-sm-8 control-label'}) }}
							{{ form.textarea('message_home_page', trad.message_home_page, settings.message_home_page, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classDivInput: 'col-sm-8 control-label'}) }}

							<table class="table table-condensed">
								<tbody>
									<tr>
										<th style="width: 280px"></th>
										<th style="width: 50px">Afficher</th>
										<th>Ne pas afficher</th>
										<th></th>
									</tr>
									<tr>
										<td>Logo</td>
										<td><input type="radio" name="login_logo" value="1" id="label_11a" {% if settings.login_logo == 1 %} checked {% endif %} /></td>
										<td><input type="radio" name="login_logo" value="0" id="label_11b" {% if settings.login_logo == 0 %} checked {% endif %} /></td>
										<td></td>
									</tr>
									<tr>
										<td>{{trad.company}}</td>
										<td><input type="radio" name="login_nom" value="1" id="label_12a" {% if settings.login_nom == 1 %} checked {% endif %} /></td>
										<td><input type="radio" name="login_nom" value="0" id="label_12b" {% if settings.login_nom == 0 %} checked {% endif %} /></td>
										<td></td>
									</tr>
								</tbody>
							</table>

							<p>{{ trad.choisir_image_login }}</p>

							<div class="form-group row">
								<label class="col col-sm-4">{{ trad.select_fichier }}</label>
								<div class="input-group col-sm-8">
									<div class="custom-file">
										<input type="file" class="custom-file-input col col-sm-4" for="doc_file" id="doc_file" name="doc_file" />
										<label class="custom-file-label" for="file">{{ trad.select_fichier }}</label>
									</div>
									<div class="input-group-append">
										{% if settings.image_connexion != '' %}
											<a href="?p=admin_page_connexion&amp;sup_img=1" class="btn btn-danger">
												Supprimer
											</a>
										{% endif %}
									</div>
								</div>
							</div>

							{% if settings.image_connexion %}
								<div class="form-group row col-sm-12">
									<img src="{{d.dossierLogo}}{{ settings.image_connexion }}" alt="logo" title="{{ settings.image_connexion }}" height="100"/>
								</div>
							{% endif %}

						</section>

			  		</div>
				</div>

				<!-- Demande de création de compte -->
				<div class="card col-12">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-person-circle-plus"></i> Demande de création de compte
						</h3>
					</div>
					<div class="card-body">

						<p>Permettre aux personnes non connectées de demander la création d'un compte. L'utilisateur devra renseigner son nom, prénom, email et mot de passe, une fois. Le gestionnaire d'utilisateur ou l'administrateur pourra valider ou non la demande en lui assignant un identifiant et un statut.</p>

						{{ form.switch('fct_crea_cpt', 'Demande de création de compte', settings.fct_crea_cpt, {classGroup: 'col-12', classLabel: 'col-10', classDivInput: 'col-2'}) }}

						<div id="aff_dyn_crea_compte" {% if not settings.fct_crea_cpt %}style="display:none"{% endif %}>
							<p class="text-danger"><b>Avertissement :</b> Il est conseillé d'activer l'envoi de mails, dans le cas contraire l'utilisateur ne pourrait recevoir son identifiant.</p>

							<div class="form-group row row col-sm-12">
								<label class="col-sm-6" for="fct_creation_compte_identifiant"><p>Par défaut l'identifiant est sous le format :</p></label>
								<div class="col-sm-6 control-label">
									<select class="form-control" name="fct_crea_cpt_login">
										<option value="1" {% if settings.fct_crea_cpt_login == 1 %} selected {% endif %}>NOM</option>
										<option value="2" {% if settings.fct_crea_cpt_login == 2 %} selected {% endif %}>NOM.PRENOM</option>
										<option value="3" {% if settings.fct_crea_cpt_login == 3 %} selected {% endif %}>NOMPRENOM</option>
										<option value="4" {% if settings.fct_crea_cpt_login == 4 %} selected {% endif %}>PRENOM</option>
										<option value="5" {% if settings.fct_crea_cpt_login == 5 %} selected {% endif %}>P.NOM</option>
										<option value="6" {% if settings.fct_crea_cpt_login == 6 %} selected {% endif %}>PNOM</option>
										<option value="7" {% if settings.fct_crea_cpt_login == 7 %} selected {% endif %}>PR.NOM</option>
										<option value="8" {% if settings.fct_crea_cpt_login == 8 %} selected {% endif %}>PRENOM.NOM</option>
										<option value="9" {% if settings.fct_crea_cpt_login == 9 %} selected {% endif %}>PRENOMNOM</option>
										<option value="10" {% if settings.fct_crea_cpt_login == 10 %} selected {% endif %}>E-Mail</option>
									</select>
								</div>
							</div>

							<div class="form-group row row col-sm-12">
								<label class="col-sm-6" for="fct_creation_compte_statut"><p>Statut par défaut :</p></label>
								<div class="col-sm-6 control-label">
									<select class="form-control" name="fct_crea_cpt_statut">
										<option value="1" {% if settings.fct_crea_cpt_statut == 1 %} selected {% endif %}>Visiteur</option>
										<option value="2" {% if settings.fct_crea_cpt_statut == 2 %} selected {% endif %}>Usager</option>
									</select>
								</div>
							</div>
							{{ form.switch('fct_crea_cpt_captcha', trad.captcha_utiliser, settings.fct_crea_cpt_captcha, {classGroup: 'col-12', classLabel: 'col-10', classDivInput: 'col-2'}) }}
						</div>
					</div>
				</div>

			</div><!-- /.col 12 -->

			<!-- Enregistrer -->
			<button type="submit" name="ok" class="btn btn-primary position-fixed elevation-4" style="bottom:70px; right:20px; z-index:99;">
				<i class="fas fa-save"></i> {{ trad.save }}
			</button>

		</form>
	</div><!-- /.row -->

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$(function(){
			{%if d.enregistrement%}
				{%if d.enregistrement == 1 %}
					toastr.success("{{trad.message_records}}")
				{% else %}
					toastr.warning("{{d.enregistrement|raw}}")
				{%endif%}
			{%endif%}

			// Afficher/masquer la section de création de compte
			var $switchCreaCpt = $('input[name="fct_crea_cpt"]');
			var $sectionCreaCpt = $('#aff_dyn_crea_compte');

			// À la modification du switch
			$switchCreaCpt.on('change', function() {
				if ($(this).is(':checked')) {
					$sectionCreaCpt.slideDown();
				} else {
					$sectionCreaCpt.slideUp();
				}
			});
		})
	</script>
{% endblock %}