{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
	<link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/summernote/summernote-bs4.min.css">
	<link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/toastr/toastr.min.css">
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-12 col-sm-12">
            <div class="card card-primary card-outline card-tabs">
              <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" href="?p=admin_config">{{ trad.admin_config1 }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-profile-tab" href="?p=admin_config6">{{ trad.admin_config6 }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-messages-tab" href="?p=admin_config2">{{ trad.admin_config2 }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" href="?p=admin_config3">{{ trad.admin_config3 }}</a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" href="?p=admin_config4">{{ trad.admin_config4 }}</a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" href="?p=admin_config5" >{{ trad.admin_config5 }}</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
				  <div class="tab-pane active" id="fa-icons">
					<form enctype="multipart/form-data" action="?p=admin_config" id="nom_formulaire" method="post">
						<section id="rensignementdivers">
							<h4 class="page-header">{{ trad.miscellaneous }}</h4>
							{{ form.input('title_home_page', trad.title_home_page, settings.title_home_page, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
							{{ form.textarea('message_home_page', trad.message_home_page, settings.message_home_page, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
							{{ form.input('company', trad.company, settings.company, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
							{{ form.input('grr_url', trad.grr_url, settings.grr_url, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
							<div class="form-group row col-sm-12">
								<label class="col-sm-11" for="use_grr_url">{{ trad.grr_url_explain }}</label>
								<div class="col-sm-1">
									<input type="checkbox" name="use_grr_url" value="y" {% if settings.use_grr_url == y %} checked {% endif %}>
								</div>
							</div>
							{{ form.input('webmaster_name', trad.webmaster_name, settings.webmaster_name, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
							<div class="form-group row col-sm-12">
								<br><p>{{ trad.plusieurs_adresses_separees_points_virgules }}</p>
							</div>
							{{ form.input('webmaster_email', trad.webmaster_email, settings.webmaster_email, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
							{{ form.input('technical_support_email', trad.technical_support_email, settings.technical_support_email, {classGroup: 'col-sm-12', classLabel: 'col-sm-4', classInput: 'col-sm-8 control-label'}) }}
						
						</section>
						<hr>
						<section id="logo">
							<h4 class="page-header">{{ trad.logo_msg }}</h4>
							<p>{{ trad.choisir_image_logo }}</p>
							<div class="form-group row col-sm-12">
								<label class="col-sm-4" for="doc_file">{{ trad.select_fichier }}</label>
								<div class="col-sm-8">
									<input type="file" name="doc_file" />
								</div>
							</div>
							{% if trad.dLogo %}
								<div class="form-group row col-sm-12">
									<img src="{{ trad.dLogo }}" alt="logo" title="{{ trad.dLogo }}"/>
									<div class="col-sm-8">
										{{ trad.supprimer_logo }} <input type="checkbox" name="sup_img" />
									</div>
								</div>
							{% endif %}
						</section>
							<hr>
						<section id="calendries">
							<h4 class="page-header">{{ trad.affichage_calendriers }}</h4>
							<div class="form-group row col-sm-12">
								<label class="col-sm-4" for="nb_calendar">{{ trad.affichage_calendriers_msg }}</label>
								<div class="col-sm-8">
									<select class="form-control" name="nb_calendar">
										<option value="0" {% if settings.nb_calendar == 0 %} selected {% endif %}>0</option>
										<option value="1" {% if settings.nb_calendar == 1 %} selected {% endif %}>1</option>
										<option value="2" {% if settings.nb_calendar == 2 %} selected {% endif %}>2</option>
										<option value="3" {% if settings.nb_calendar == 3 %} selected {% endif %}>3</option>
										<option value="4" {% if settings.nb_calendar == 4 %} selected {% endif %}>4</option>
										<option value="5" {% if settings.nb_calendar == 5 %} selected {% endif %}>5</option>
										<option value="6" {% if settings.nb_calendar == 6 %} selected {% endif %}>6</option>
									</select>
								</div>
							</div>
							<div class="form-group row col-sm-12">
								<label class="col-sm-4" for="plageresa">{{ trad.title_begin_end_bookings }}</label>
								<div class="input-group col-sm-8">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
									</div>
									<input type="text" class="form-control pull-right" id="reservation" name="plageresa" value="{{ trad.dBegin_bookings }} - {{ trad.dEnd_bookings }}">
								</div>
							</div>
							<p>{{ trad.begin_bookings_explain }}</p>
						</section>
						<hr>
						<section id="message">
							<h4 class="page-header">{{ trad.message_perso }}</h4>
							<p>{{ trad.message_perso_explain }}</p>
							<textarea id="summernote" name="message_accueil" rows="10" cols="80">
								{{ settings.message_accueil }}
							</textarea>
						</section>
						<hr>
						<section id="langues">
							<h4 class="page-header">{{ trad.adapter_fichiers_langue }}</h4>
							<p>{{ trad.adapter_fichiers_langue_explain }}</p>
						</section>

						<div style="text-align:center;">
							<input class="btn btn-primary" type="submit" name="ok" value="{{ trad.save }}" />
						</div>
					</form>
				  </div><!-- /.tab-pan -->
			  </div><!-- /.card-body -->

			</div><!-- /.card-primary -->
		</div><!-- /.col -->
	</div><!-- /.row -->

{% endblock %}

{% block javascript %}
	<!-- date-range-picker -->
	<script src="../vendor/almasaeed2010/adminlte/plugins/moment/moment.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/summernote/summernote-bs4.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/toastr/toastr.min.js"></script>
	<script>
		$(function () {
			// Summernote
			$('#summernote').summernote()
			
			// Plage de réservation
			$('#reservation').daterangepicker({
			 "locale": {
					"format": "DD/MM/YYYY",
					"separator": " - ",
					"applyLabel": "Valider",
					"cancelLabel": "Annuler",
					"fromLabel": "De",
					"toLabel": "à",
					"customRangeLabel": "Custom",
					"daysOfWeek": [
						"Dim",
						"Lun",
						"Mar",
						"Mer",
						"Jeu",
						"Ven",
						"Sam"
					],
					"monthNames": [
						"Janvier",
						"Février",
						"Mars",
						"Avril",
						"Mai",
						"Juin",
						"Juillet",
						"Août",
						"Septembre",
						"Octobre",
						"Novembre",
						"Décembre"
					],
					"firstDay": 1
				}
			});

			{%if d.enregistrement%}
				{%if d.enregistrement == 1 %}
					toastr.success("{{trad.message_records}}")
				{% else %}
					toastr.warning("{{d.enregistrement|raw}}")
				{%endif%}
			{%endif%}

		}); 
	</script>
{% endblock %}