{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}

{% block content %}
	<div class="row">
		<div class="col-md-12">

			{% if trad.dFichierEnvoye != 1 %}
			
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Importation d'un fichier de réservations dans GRR</h3>
						<a href="?p=admin_calend" class="btn btn-xs btn-info pull-right">{{ trad.back }}</a>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">

						<p class="text-red">Il est conseillé de procéder à la sauvegarde de la base de données avant l'importation.</p>

						<p>Télécharger un fichier CSV au format suivant:</p>
						<code>
							date du jour; heure de début; heure de fin; ressource; description; type
						</code>
                        <p>par exemple</p>
                        <code>2001-01-01;12h00;14h00;Salle 1;Test;A</code>
						
						<p>Le temps d'importation est en général limité par le serveur à quelques minutes par fichier.<br>
						Pour éviter des erreurs de type "timeout" qui conduirait à une importation incomplète, 
						scindez votre fichier en fichiers plus petits que vous importerez successivement</p>

						<hr>

						<form enctype="multipart/form-data" action="?p=admin_import_entries_csv_direct" method="post" >
							<input type="hidden" name="import" value="1" />

							<div class="form-group row col-sm-12">
								<label class="col-sm-6" for="csv">{{ trad.admin_import_users_csv0 }}</label>
								<div class="col-sm-6">
									<input type="file" name="csv" />
								</div>
							</div>

							<div style="text-align:center;">
								<input class="btn btn-primary" type="submit" name="submit" value="{{ trad.submit }}" />
							</div>

						</form>

					</div>
				</div>

			{% elseif trad.dFichierEnvoye == 1 %}

				<h3>Première étape de l'importation en cours, ne fermez pas la page</h3>

				{{ trad.dResultatEtape1 |raw }}

				<h3>Deuxième étape de l'importation en cours, ne fermez pas la page</h3>

				{{ trad.dResultatEtape2 |raw }}

			{% endif %}
		</div>
	</div>

{% endblock %}

{% block javascript %}
{% endblock %}