{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-xs-12">
            <div class="box">
				<div class="box-header">
					<h3 class="box-title">{{ trad.dTitrePage |raw }}</h3>
				</div>
				
				<div class="box-body no-padding">
					<form enctype="multipart/form-data" action="?p=admin_edit_room" method="post">
						<input type="hidden" name="p" value="admin_edit_domaine" />
						{{ trad.dHidden1 |raw }}
						{{ trad.dHidden2 |raw }}
						{{ trad.dHidden3 |raw }}

						<section id="renseignementdivers">
							<h4 class="page-header">{{ trad.miscellaneous }}</h4>
							{% if trad.dDroitsDomaine  >= 4 and trad.dDroitsRessource  >= 4 %}
								{{ form.input('room_name', trad.name, ressource.room_name, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label'}) }}
							{% else %}
								<input type="hidden" name="room_name" value="{{ ressource.room_name }}" />
								{{ ressource.room_name }}
							{% endif %}

							{{ form.input('description', trad.description, ressource.description, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label'}) }}

							{% if trad.dDroitsDomaine  >= 4 and trad.dDroitsRessource  >= 4 and trad.dEnablePeriods == 'n' %}
								<div class="form-group col-sm-12">
									<label class="col-sm-8" for="area_id">{{ trad.match_area }}</label>
									<div class="col-sm-4">
										<select class="form-control" name="area_id">
											<option value="-1">{{ trad.choose_an_area }}</option>
											{% for domaine in domaines %}
												<option value="{{ domaine.id }}" {% if trad.dIdDomaine == domaine.id %} selected {% endif %}>{{ domaine.nom }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							{% else %}
								<input type="hidden" name="area_id" value="{{ trad.dIdDomaine }}" />
							{% endif %}

							{{ form.input('area_order', trad.order_display, ressource.order_display, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label', type: 'number'}) }}
						
							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="who_can_see">{{ trad.qui_peut_voir_ressource }}</label>
								<div class="col-sm-4">
									<select class="form-control" name="who_can_see">
										<option value="0" {% if ressource.who_can_see == 0 %} selected {% endif %}>{{ trad.visu_fiche_description0 }}</option>
										<option value="1" {% if ressource.who_can_see == 1 %} selected {% endif %}>{{ trad.visu_fiche_description1 }}</option>
										<option value="2" {% if ressource.who_can_see == 2 %} selected {% endif %}>{{ trad.visu_fiche_description2 }}</option>
										<option value="3" {% if ressource.who_can_see == 3 %} selected {% endif %}>{{ trad.visu_fiche_description3 }}</option>
										<option value="4" {% if ressource.who_can_see == 4 %} selected {% endif %}>{{ trad.visu_fiche_description4 }}</option>
										{% if settings.module_multisite == 'Oui' %}
											<option value="5" {% if ressource.who_can_see == 5 %} selected {% endif %}>{{ trad.visu_fiche_description5 }}</option>
										{% endif %}
										<option value="6" {% if ressource.who_can_see == 6 %} selected {% endif %}>{{ trad.visu_fiche_description6 }}</option>
									</select>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="statut_room">{{ trad.declarer_ressource_indisponible }} {{ trad.explain_max_booking }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="statut_room" {% if ressource.statut_room == 0 %} checked {% endif %}>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="show_fic_room">{{ trad.montrer_fiche_presentation_ressource }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="show_fic_room" {% if ressource.show_fic_room == 'y' %} checked {% endif %}>
									<a href="javascript:centrerpopup('../view_room.php?id_room=$room',600,480,'scrollbars=yes,statusbar=no,resizable=yes')"><span class="fa fa-search"></span></a>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="doc_file">{{ trad.choisir_image_ressource }}</label>
								<div class="col-sm-4">
									<input type="file" name="doc_file" />
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="sup_img">{{ trad.supprimer_image_ressource }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="sup_img" {% if trad.dLienImg is not defined %} disabled {% endif %}>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="show_comment">{{ trad.Afficher_description_complete_dans_titre_plannings }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="show_comment" {% if ressource.show_comment == 'y' %} checked {% endif %}>
								</div>
							</div>

							<p>{{ trad.description_complete }} :</p>
							<textarea id="editor1" name="comment_room" rows="10" cols="80">
								{{ ressource.comment_room }}
							</textarea>

						</section>

						<hr>

						<section id="rensignementdivers">
							<h4 class="page-header">{{ trad.configuration_ressource }}</h4>

							<div class="form-groupcol-sm-12">
								<label class="col-sm-8" for="number_periodes">{{ trad.type_affichage_reservation }}</label>
								<div class="col-sm-4">
									<input type="radio" name="type_affichage_reser" value="0" id="label_1a" {% if ressource.type_affichage_reser == '0' %} checked {% endif %} /> <label for="label_1a">{{ trad.affichage_reservation_duree }}</label><br>
									<input type="radio" name="type_affichage_reser" value="1" id="label_1b" {% if ressource.type_affichage_reser == '1' %} checked {% endif %} /> <label for="label_1b">{{ trad.affichage_reservation_date_heure }}</label><br>
								</div>
							</div>

							{{ form.input('capacity', trad.capacity, ressource.capacity, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label', type: 'number'}) }}

							{% if trad.dDroitsDomaine  >= 4 and trad.dDroitsRessource  >= 4 %}
								{{ form.input('max_booking', trad.msg_max_booking, ressource.max_booking, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label', type: 'number'}) }}
							{% else %}
								<input type="hidden" name="max_booking" value="{{ ressource.max_booking }}" />
								{{ ressource.max_booking }}
							{% endif %}

							{{ form.input('delais_max_resa_room', trad.delais_max_resa_room, ressource.delais_max_resa_room, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label', type: 'number'}) }}

							{{ form.input('delais_min_resa_room', trad.delais_min_resa_room, ressource.delais_min_resa_room, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label', type: 'number'}) }}

							{{ form.input('delais_option_reservation', trad.msg_option_de_reservation, ressource.delais_option_reservation, {classGroup: 'col-sm-12', classLabel: 'col-sm-8', classInput: 'col-sm-4 control-label', type: 'number'}) }}

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="moderate">{{ trad.msg_moderation_reservation }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="moderate" {% if ressource.moderate == 1 %} checked {% endif %}>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="allow_action_in_past">{{ trad.allow_action_in_past }} {{ trad.allow_action_in_past_explain }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="allow_action_in_past" value="y" {% if ressource.allow_action_in_past == 'y' %} checked {% endif %}>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="dont_allow_modify">{{ trad.dont_allow_modify }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="dont_allow_modify" value="y" {% if ressource.dont_allow_modify == 'y' %} checked {% endif %}>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="qui_peut_reserver_pour">{{ trad.qui_peut_reserver_pour_autre_utilisateur }}</label>
								<div class="col-sm-4">
									<select class="form-control" name="qui_peut_reserver_pour">
										<option value="5" {% if ressource.qui_peut_reserver_pour == 5 %} selected {% endif %}>{{ trad.personne }}</option>
										<option value="4" {% if ressource.qui_peut_reserver_pour == 4 %} selected {% endif %}>{{ trad.les_administrateurs_restreints }}</option>
										<option value="3" {% if ressource.qui_peut_reserver_pour == 3 %} selected {% endif %}>{{ trad.les_gestionnaires_de_la_ressource }}</option>
										<option value="2" {% if ressource.qui_peut_reserver_pour == 2 %} selected {% endif %}>{{ trad.tous_les_utilisateurs }}</option>
									</select>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="active_ressource_empruntee">{{ trad.activer_fonctionalite_ressource_empruntee_restituee }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="active_ressource_empruntee" value="y" {% if ressource.active_ressource_empruntee == 'y' %} checked {% endif %}>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-sm-8" for="active_cle">{{ trad.activer_fonctionalite_gestion_cle }}</label>
								<div class="col-sm-4">
									<input type="checkbox" name="active_cle" value="y" {% if ressource.active_cle == 'y' %} checked {% endif %}>
								</div>
							</div>

						</section>

					<hr>

					<div style="text-align:center;">
						<input class="btn btn-primary" type="submit" name="change_room" value="{{ trad.save }}" />
						<input class="btn" type="submit" name="change_done" value="{{ trad.back }}" />
						<input class="btn btn-success" type="submit" name="change_room_and_back" value="{{ trad.save_and_back }}" />
					</div>
				</form>

				{% if trad.dLienImg %}
					<img src="{{ trad.dLienImg }}" alt="Image Ressource" />
				{% else %}
					<p>{{ trad.Pas_image_disponible }}</p>
				{% endif %}
				</div>
            </div>
		</div>
        <!-- /.col -->
    </div>

{% endblock %}

{% block javascript %}
	<script src="../bootstrap/AdminLTE/bower_components/ckeditor/ckeditor.js"></script>
	<script>
		$(function () {
			// Replace the <textarea id="editor1"> with a CKEditor
			//CKEDITOR.replace('editor1');
			//<![CDATA[
			CKEDITOR.replace( 'editor1',
			{
				toolbar :
				[
				['Source'],
				['Cut','Copy','Paste','PasteText','PasteFromWord', 'SpellChecker', 'Scayt'],
				['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],
				['Bold','Italic','Underline','Strike','-','Subscript','Superscript','-','TextColor','BGColor'],
				['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
				['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
				['Link','Unlink','Anchor'],
				['Image','Table','HorizontalRule','SpecialChar','PageBreak'],
				]
			});
			//]]>
		});
	</script>
{% endblock %}