{% extends 'layout.twig' %}

{% block css %}
	<link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="../vendor/almasaeed2010/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock %}

{% import 'messagesysteme.twig' as msgSyst %}

{% block content %}
	<div class="row">
		<div class="col-md-12">

			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Logs réservations</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				  <table id="tablelog" class="table display table-bordered table-striped">
						<thead>
							<tr>
							  <th>Début réservation</th>
							  <th>Fin réservation</th>
							  <th>Nom</th>
							  <th>Détail</th>
							</tr>
						</thead>
						<tbody>
							{% for log in logsmail %}
								<tr>
									<td>{{ log.debut }}</td>
									<td>{{ log.fin }}</td>
									<td>{{ log.titre }} {% if log.sup == 1 %} <i class="fa fa-trash"></i>{%endif%}</td>
									<td><a class="btn btn-block btn-info btn-xs" href="?p=admin_log_resa&idresa={{ log.idresa }}"><i class="fa fa-search bg-aqua"></i></a></td>
								</tr>
							{% endfor %}
						</tbody>
				  </table>
				</div>
			</div>


			<div class="box box-danger">
				<div class="box-header">
					<h3 class="box-title">{{trad.cleaning_log}}</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<p>{{ trad.logs_number }} <b>{{ trad.dNombreLog }}</b></p>
					<p>{{ trad.older_date_log }} <b>{{ trad.dDatePlusAncienne }}</b></p>
					<br>
					<p><b>{{ trad.erase_log }}</b></p>

					<form action="?p=admin_log_resa_liste" method="post">

						<div class="form-group row">
							<label>{{ trad.delete_up_to }} :</label>

							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
								</div>
								<input type="text" name="cleanlog" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric">
							</div>
							<!-- /.input group -->

						</div>
              
						<div style="text-align:center;">
							<input class="btn btn-danger" type="submit" value="{{ trad.del }}" />
						</div>
					</form>
				</div>
			</div>


		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/jszip/jszip.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<script src="../vendor/almasaeed2010/adminlte/plugins/inputmask/jquery.inputmask.min.js"></script>
	<script>
		$(function(){
			$('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
			$('[data-mask]').inputmask()
		})

		// Table
		$("#tablelog").DataTable({
     		 "responsive": true, "lengthChange": false, "autoWidth": false,
     		 "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    	}).buttons().container().appendTo('#tablelog_wrapper .col-md-6:eq(0)')
	</script>
{% endblock %}