{% extends 'layout.twig' %}

{% block css %}
	<link rel="stylesheet" href="../jslib/datatables-bs5/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="../jslib/datatables-buttons/css/buttons.bootstrap5.min.css">
	<link rel="stylesheet" href="../jslib/toastr/toastr.min.css">
{% endblock %}

{% import 'messagesysteme.twig' as msgSyst %}

{% block content %}
	<div class="row">
		<div class="col-md-12">

			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{trad.admin_user}}</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="tableuser" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th></th>
								<th>{{trad.login_name}}</th>
								<th>{{trad.names}}</th>
								<th>{{trad.names}}</th>
								<th>{{trad.mail_user}}</th>
								<th>Téléphone</th>
								<th>Commentaire</th>
								<th>Date</th>
								<th>Statut</th>
								<th>{{trad.action}}</th>
							</tr>
						</thead>
						<tbody>
							{% for utilisateur in utilisateurs %}
								<tr>
									<form action="?p=admin_user_demandes" id="validedemande" method="get">
										<input type="hidden" name="p" value="admin_user_demandes" />
										<input type="hidden" name="iddemande" value="{{utilisateur.0}}" />
										<input type="hidden" name="choix" value="1" />
										<td></td>
										<td><input type="test" name="login" value="{{utilisateur.1}}" required></td>
										<td>{{utilisateur.2}}</td>
										<td>{{utilisateur.3}}</td>
										<td>{{utilisateur.4}}</td>
										<td>{{utilisateur.5}}</td>
										<td>{{utilisateur.6}}</td>
										<td>{{utilisateur.7}}</td>
										<td>
											<select name="statut">
												<option value="visiteur" {% if settings.fct_crea_cpt_statut == '1' %} selected {% endif %}>Visiteur</option>
												<option value="utilisateur" {% if settings.fct_crea_cpt_statut == '2' %} selected {% endif %}>Utilisateur</option>
											</select>
										</td>
										<td>
											<button type="submit" class="btn btn-success btn-xs"><i class="icon fa fa-check"></i></button>
											<a href="?p=admin_user_demandes&iddemande={{utilisateur.0}}&choix=2" class="btn btn-danger btn-xs"><i class="icon fa fa-trash"></i></a> 
										</td>
									</form>
								</tr>
							{% endfor %}
						</tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>	

	<div class="modal fade" id="modalWarningSupUser" tyle="display: none;" aria-hidden="true">
		<form action="?p=admin_user">
          <div class="modal-dialog">
			<div class="modal-content bg-warning">
              <div class="modal-header">
                <h4 class="modal-title">{{trad.confirm_del}}</h4>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				  </button>
              </div>
              <div class="modal-body">
				{{trad.confirm_del}} : <span class="modalidsup" id="modalidsup"></span> 
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">{{trad.cancel}}</button>
				<button type="submit" id="liensup" class="btn btn-outline-dark">{{trad.delete}}</button>
              </div>
            </div>
          </div>
		  </form>
	</div>
{% endblock %}

{% block javascript %}
	<!-- DataTables -->
	<script src="../jslib/datatables/dataTables.min.js"></script>
	<script src="../jslib/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>

	<!-- Buttons -->
	<script src="../jslib/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../jslib/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="../jslib/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="../jslib/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="../jslib/datatables-buttons/js/buttons.colVis.min.js"></script>

	<!-- Excel / PDF -->
	<script src="../jslib/jszip/jszip.min.js"></script>
	<script src="../jslib/pdfmake/pdfmake.min.js"></script>
	<script src="../jslib/pdfmake/vfs_fonts.js"></script>

	<script src="../jslib/toastr/toastr.min.js"></script>
	<script>
		// Modal
		$('#modalWarningSupUser').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var idasup = button.data('idsup') // Extract info from data-* attributes
		    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		    var modal = $(this)
		    modal.find('.modalidsup').text(idasup)
		})

		$(function(){
			$(function () {
				{% if d.enregistrement %}
					{%if d.enregistrement == 1 %}
						toastr.success("{{trad.message_records}}")
					{% else %}
						toastr.warning("{{d.enregistrement|raw}}")
					{%endif%}
				{%endif%}

				var table = $('#tableuser').DataTable({
					lengthChange: true,
					lengthMenu: [[10, 25, 50, 100, -1],[10, 25, 50, 100, 'All']],
					dom:
						"<'row mb-2'<'col-md-6 d-flex align-items-center flex-nowrap gap-2'lB><'col-md-6 d-flex justify-content-end'f>>" +
						"<'row'<'col-12'tr>>" +
						"<'row mt-2'<'col-md-5'i><'col-md-7 d-flex justify-content-end'p>>",

					pagingType: 'full_numbers',

					buttons: [
						'copy',
						'excel',
						'csv',
						'pdfHtml5',
						'colvis'
					]
				});
			});
		})


	</script>
{% endblock %}