{% extends 'layout.twig' %}

{% block css %}
	<link rel="stylesheet" href="../bootstrap/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}

{% import 'messagesysteme.twig' as msgSyst %}

{% block content %}
	<div class="row">
		<div class="col-md-9">

			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{trad.admin_user}}</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				  <table id="tableuser" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th><a href="?p=admin_user&order_by=login&display={{ trad.dDisplay }}">{{trad.login_name}}</a></th>
								<th><a href="?p=admin_user&order_by=nom,prenom&display={{ trad.dDisplay }}">{{trad.names}}</a></th>
								<th>{{trad.privileges}}</th>
								<th><a href="?p=admin_user&order_by=source,nom,prenom&display={{ trad.dDisplay }}">{{trad.statut}}</a></th>
								<th><a href="?p=admin_user&order_by=statut,nom,prenom={{ trad.dDisplay }}">{{trad.authentification}}</a></th>
								<th>{{trad.action}}</th>
							</tr>
						</thead>
						<tbody>
							{% for utilisateur in utilisateurs %}
								<tr>
									<td>{{utilisateur.1}}</td>
									<td>{{utilisateur.2}}</td>
									<td>{{utilisateur.3 |raw}}</td>
									<td>{{utilisateur.4 |raw}}<br>{{ utilisateur.6 }}</td>
									<td>{{utilisateur.5 }}</td>
									<td>
										{% if utilisateur.8 == 1 %}
											<a href="?p=admin_user_modify&user_login={{utilisateur.1}}&display={{ trad.dDisplay }}" class="btn btn-info btn-md"><i class="icon fa fa-edit"></i></a> 
										{% endif %}
										{% if utilisateur.7 == 1 %}
											<button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#modal-warning" data-texte="{{trad.confirm_del}}" data-idsup="{{ utilisateur.1 }}"><i class="icon fa fa-trash"></i></button>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<thead>
							<tr>
								<th>{{trad.login_name}}</th>
								<th>{{trad.names}}</th>
								<th>{{trad.privileges}}</th>
								<th>{{trad.statut}}</th>
								<th>{{trad.authentification}}</th>
								<th>{{trad.action}}</th>
							</tr>
						</thead>
				  </table>
				</div>
			</div>
		</div>


		<div class="col-md-3">

			<div class="box">
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<h4>{{ trad.display_add_user }} :</h4>
					<a href="?p=admin_user_modify&display={{ trad.dDisplay }}" class="btn btn-primary btn-block">{{ trad.display_add_user }}</a>
					<a href="?p=admin_import_users_csv" class="btn btn-primary btn-block">{{ trad.via_fichier }}</a>
					<a href="?p=admin_import_users_elycee" class="btn btn-primary btn-block">Depuis elycée</a>
					<h4>{{ trad.admin_menu_various }} :</h4>
					<a href="?p=admin_user_mdp_facile" class="btn btn-primary btn-block">{{ trad.admin_user_mdp_facile }}</a>
					{% if (settings.ldap_statut != '' or settings.sso_statut != '' or settings.imap_statut != '') and trad.dEstAdministrateur ==  1 %}
						<a href="?p=admin_purge_accounts" class="btn btn-primary btn-block">{{ trad.admin_purge_accounts }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>	

	<div class="modal modal-danger fade" id="modal-warning">
		<form action="?p=admin_user">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{trad.confirm_del}}</h4>
              </div>
              <div class="modal-body">
				<span id="modal-texte"></span><span id="modal-idsup" class="hidden"></span> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{trad.cancel}}</button>
				<button type="submit" id="liensup" class="btn btn-outline">{{trad.delete}}</button>
              </div>
            </div>
          </div>
		  </form>
	</div>
{% endblock %}

{% block javascript %}
	<script src="../bootstrap/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../bootstrap/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script>
		// data-* attributes to scan when populating modal values
		var ATTRIBUTES = ['texte', 'idsup'];

		$('[data-toggle="modal"]').on('click', function (e) {
		  // convert target (e.g. the button) to jquery object
		  var $target = $(e.target);
		  // modal targeted by the button
		  var modalSelector = $target.data('target');

		  // iterate over each possible data-* attribute
		  ATTRIBUTES.forEach(function (attributeName) {
			// retrieve the dom element corresponding to current attribute
			var $modalAttribute = $(modalSelector + ' #modal-' + attributeName);
			var dataValue = $target.data(attributeName);
			// if the attribute value is empty, $target.data() will return undefined.
			// In JS boolean expressions return operands and are not coerced into
			// booleans. That way is dataValue is undefined, the left part of the following
			// Boolean expression evaluate to false and the empty string will be returned
			$modalAttribute.text(dataValue || '');
		  });
		});

		$(function(){
			$('form').submit(function(e) {
			  e.preventDefault()
			  var $form = $(this)
			  var v=document.getElementById('modal-idsup').innerHTML
			  $.post($form.attr('action'), $form.serialize())
			  .done(function(data) {
				$('#html').html(data);
				$('#modal-warning').modal('hide');
				document.location.href='?p=admin_user&user_del='+v+'&action_del=yes&js_confirmed=1';
			  })
			  .fail(function() {
				alert('Une erreur est survenue : GRRJS')
			  })
			})
		})

		$(function () {
			$('#tableuser').DataTable()({
			  'paging'      : true,
			  'lengthChange': false,
			  'searching'   : true,
			  'ordering'    : true,
			  'info'        : true,
			  'autoWidth'   : false
			})
		})
	</script>
{% endblock %}