{% if room == false %}
    <h1>{{ vocab.no_room_for_area}}</h1>
{% else %}
    <div class="row">
{% endif %} {# fin du else :  if room == false #}
        {% if pview %}
            <div class="col-lg-9 col-md-12 col-xs-12">
                <div id="planning">
        {% else %}
                <div id="print_planning">
        {% endif %}
        {# include de template du menu gauche #}
        {{ include('menuGauche.html.twig', tplArrayMenuGauche) }}
                    <div id="chargement">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="titre_planning {% if vacance %}vacance{% endif %} {% if ferie %}ferie{% endif %}">
                        {% if pview == false %}
                            <table class="table-header">
                                <tr>
                                    <td class="left">
                                        <button class="btn btn-default btn-xs" onclick="charger();javascript: location.href='{{ linkBefore }}';">
                                            <span class="glyphicon glyphicon-backward"></span>{{ vocab.daybefore }}
                                            </button>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="right">
                                        <button class="btn btn-default btn-xs" onclick="charger();javascript: location.href='{{ linkAfter }}';">
                                        {{ vocab.dayafter }}  <span class="glyphicon glyphicon-forward"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                        <h4 class="titre">
                            <span class="text-capitalize">{{ this_area_name }}</span>
                            {{ vocab.all_areas }}
                            {% if jourCycleInt != false %}
                                {% if jourCycleInt > 0 %}
                                 - {{ vocab.rep_type_6 }} {{ jourCycle }}
                                {% else %}
                                 - {{ jourCycle }}
                                {% endif %}
                            {% endif %}
                            <br><span class="text-capitalize">{{ time }}</span>
                        </h4>
                    </div>
                    {% if afficheLienPrecedant %}
                        <span id="lienPrecedent"><button class="btn btn-default btn-xs" onclick="charger();javascript:history.back();">Précedent</button></span>
                    {% endif %}
                    <div class="contenu_planning">
                        <table class="table-bordered table-striped">
                            <tr>
                                <th style="width:5%;">{{ timeOuPeriod }}</th>
